.gradient-background {
    background: linear-gradient(300deg, #00bfff, #A0E9FF, #00A9FF);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
    color: white;
}
.studies-work{
    background-image: url(./images/bg-image.jpg);
    color: white;
}
.studies-work h3{
    color: white;
}
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.white-text{
    color: white;
}
.icon-square {
    width: 3rem;
    height: 3rem;
    border-radius: 0.75rem;
}
#studies li{
    list-style: none;
}
#work li{
    list-style: none;
}
ul{
    padding: 0;
}
ul ul{
    padding-left: 30px;
}
.skill {
    margin-bottom: 20px;
}
.skill h3 {
    margin-bottom: 5px;
}
.rating {
    color: #FFD700;
}
.star {
    font-size: 24px;
    margin-right: 5px;
}
.image{
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    height: 300px;
    border-radius: 15%;
}